*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2e2e2e;
}
canvas{
    z-index: 2;
    pointer-events: none;
    align-self: center;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}



.lofi{
    z-index: 0; 
    margin: 0;
    overflow: hidden;
    padding: 0;

    width: 700px;
    height: 700px;
    border-radius: 500px;

    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



iframe{
    margin-top: -350px;
    margin-left: -230px;
    width: 1350px;
    height: 1350px;

    left: 25%;
}

.left{
    width: 35%;
    height: 100%;
}

.title{
    margin: 1%;
    font-size: 50px;
    font-family: 'B612', sans-serif;
    color: #ed4242;
}

/* .timercircle{

} */
/* 
I was tryna firgure out how to get lofiDoro to the center, but I don't rly have to, maybe put it in the center */