*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #222222;
    background-image: url("DiTF.jpg");
    background-size: 2000px
}
canvas{
    z-index: 1;
    pointer-events: none;
    align-self: center;
    padding: 0;
    margin: auto;
    position: relative;
}

.canvholder{
    text-align: center;
    height: 500px;
}

.main{
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 800px;
    width: 100vw;
}


.lofi{
    z-index: 2; 
    overflow: hidden;
    width: 600px;
    height: 600px;
    border-radius: 500px;
    margin: auto;
    position: relative;
    top: -627px;
}





iframe{
    margin-top: -250px;
    margin-left: -250px;
    width: 1110px;
    height: 1110px;

    left: 25%;
}

.left{
    width: 35%;
    height: 100%;
}

.title{
    margin: 1%;
    font-size: 50px;
    font-family: 'B612', sans-serif;
    color: #42b7ed;
    

}

.time{
    width: 400px;
    height: 150px;
    border: 0px solid white;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
}

.playOptions{
    display: flex;
    justify-content: center;
}

#playbutton{
    color: #42b7ed;
    font-size: 20px;
    font-family: 'B612', sans-serif;
    border-radius: 70px;
    border: 2px solid #42b7ed;
    background: none;
    padding: 30px 20px;
    margin: auto;
    
    
}

h1{
    color: #f3f3f3;
    font-size: 80px;
    font-family: 'B612', sans-serif;
    padding: 25px;
}

.playbutton:hover{
    background: #42b7ed;
    color: #e1ebea;
}

/* .menu{
    width: 500px;
    height: 300px;
    position: relative;
    left: 60%;
} */

.topnav {
    width: 100%;
    background-color: rgba(41, 41, 41, 0.658);
    overflow: hidden;
    font-family: 'B612', sans-serif;
    box-shadow: 2px 3px 6px 3px rgba(19, 19, 19, 0.2);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #3794ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    transition: ease-out 0.2s;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(221, 221, 221, 0.137);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #42b7ed;
    color: white;
  }
